.backGround {
  background-size: cover;
  background-position: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

/* Button Loader 2 Style */

.loading-wave {
  width: 50px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.loading-bar {
  width: 10px;
  height: 10px;
  margin: 0 1px;
  /* background-color: var(--primary-color); */
  border-radius: 5px;
  animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
  0% {
    height: 10px;
  }

  50% {
    height: 30px;
  }

  100% {
    height: 10px;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff69;
}

::-webkit-scrollbar-thumb {
  background: #27242494;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #474747;
}

/* Button Loader 1 Style */

.spinner {
  width: 60px;
  height: 60px;
  position: relative;
}

.spinner .dot {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
}

.spinner .dot::after {
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--dot-color, #feb800);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner .dot {
  animation: spin 2s infinite;
}

.spinner .dot:nth-child(2) {
  animation-delay: 100ms;
}

.spinner .dot:nth-child(3) {
  animation-delay: 200ms;
}

.spinner .dot:nth-child(4) {
  animation-delay: 300ms;
}

.spinner .dot:nth-child(5) {
  animation-delay: 400ms;
}

/* Loader 2 Style */

.container-loader-2 {
  --uib-size: 150px;
  --uib-speed: 1.2s;
  --uib-dot-size: calc(var(--uib-size) * 0.1);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: calc(var(--uib-size) * 0.64);
  width: calc(var(--uib-size) * 0.64);
}

@keyframes jump {

  0%,
  100% {
    transform: translateY(120%);
  }

  50% {
    transform: translateY(-120%);
  }
}

.container-loader-2 .dot {
  --uib-d1: -0.48;
  --uib-d2: -0.4;
  --uib-d3: -0.32;
  --uib-d4: -0.24;
  --uib-d5: -0.16;
  --uib-d6: -0.08;
  --uib-d7: -0;
  position: absolute;
  bottom: calc(var(--uib-bottom) + var(--uib-dot-size) / 2);
  right: calc(var(--uib-right) + var(--uib-dot-size) / 2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-dot-size);
  width: var(--uib-dot-size);
  animation: jump var(--uib-speed) ease-in-out infinite;
  opacity: var(--uib-scale);
  will-change: transform;
  backface-visibility: hidden;
}

.container-loader-2 .dot::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--dot-color, #feb800);
  border-radius: 50%;
  transform: scale(var(--uib-scale));
  transition: background-color 0.3s ease;
}

.container-loader-2 .dot:nth-child(1) {
  --uib-bottom: 24%;
  --uib-right: -35%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d1));
}

.container-loader-2 .dot:nth-child(2) {
  --uib-bottom: 16%;
  --uib-right: -6%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d2));
}

.container-loader-2 .dot:nth-child(3) {
  --uib-bottom: 8%;
  --uib-right: 23%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d3));
}

.container-loader-2 .dot:nth-child(4) {
  --uib-bottom: -1%;
  --uib-right: 51%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d4));
}

.container-loader-2 .dot:nth-child(5) {
  --uib-bottom: 38%;
  --uib-right: -17.5%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d2));
}

.container-loader-2 .dot:nth-child(6) {
  --uib-bottom: 30%;
  --uib-right: 10%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d3));
}

.container-loader-2 .dot:nth-child(7) {
  --uib-bottom: 22%;
  --uib-right: 39%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d4));
}

.container-loader-2 .dot:nth-child(8) {
  --uib-bottom: 14%;
  --uib-right: 67%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d5));
}

.container-loader-2 .dot:nth-child(9) {
  --uib-bottom: 53%;
  --uib-right: -0.8%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d3));
}

.container-loader-2 .dot:nth-child(10) {
  --uib-bottom: 44.5%;
  --uib-right: 27%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d4));
}

.container-loader-2 .dot:nth-child(11) {
  --uib-bottom: 36%;
  --uib-right: 55.7%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d5));
}

.container-loader-2 .dot:nth-child(12) {
  --uib-bottom: 28.7%;
  --uib-right: 84.3%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d6));
}

.container-loader-2 .dot:nth-child(13) {
  --uib-bottom: 66.8%;
  --uib-right: 15%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d4));
}

.container-loader-2 .dot:nth-child(14) {
  --uib-bottom: 58.8%;
  --uib-right: 43%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d5));
}

.container-loader-2 .dot:nth-child(15) {
  --uib-bottom: 50%;
  --uib-right: 72%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d6));
}

.container-loader-2 .dot:nth-child(16) {
  --uib-bottom: 42%;
  --uib-right: 100%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d7));
}

.container-loader-2 .dot:nth-child(3) {
  --uib-scale: 0.98;
}

.container-loader-2 .dot:nth-child(2),
.container-loader-2 .dot:nth-child(8) {
  --uib-scale: 0.96;
}

.container-loader-2 .dot:nth-child(1),
.container-loader-2 .dot:nth-child(7) {
  --uib-scale: 0.94;
}

.container-loader-2 .dot:nth-child(6),
.container-loader-2 .dot:nth-child(12) {
  --uib-scale: 0.92;
}

.container-loader-2 .dot:nth-child(5),
.container-loader-2 .dot:nth-child(11) {
  --uib-scale: 0.9;
}

.container-loader-2 .dot:nth-child(10),
.container-loader-2 .dot:nth-child(16) {
  --uib-scale: 0.88;
}

.container-loader-2 .dot:nth-child(9),
.container-loader-2 .dot:nth-child(15) {
  --uib-scale: 0.86;
}

.container-loader-2 .dot:nth-child(14) {
  --uib-scale: 0.84;
}

.container-loader-2 .dot:nth-child(13) {
  --uib-scale: 0.82;
}

.container-loader-2 .dot:nth-child(1) {
  --uib-color: #334dff;
}

.container-loader-2 .dot:nth-child(2) {
  --uib-color: #3348ff;
}

.container-loader-2 .dot:nth-child(3) {
  --uib-color: #3343ff;
}

.container-loader-2 .dot:nth-child(4) {
  --uib-color: #333eff;
}

.container-loader-2 .dot:nth-child(5) {
  --uib-color: #3339ff;
}

.container-loader-2 .dot:nth-child(6) {
  --uib-color: #3334ff;
}

.container-loader-2 .dot:nth-child(7) {
  --uib-color: #4433ff;
}

.container-loader-2 .dot:nth-child(8) {
  --uib-color: #5533ff;
}

.container-loader-2 .dot:nth-child(9) {
  --uib-color: #6633ff;
}

.container-loader-2 .dot:nth-child(10) {
  --uib-color: #7733ff;
}

.container-loader-2 .dot:nth-child(11) {
  --uib-color: #8833ff;
}

.container-loader-2 .dot:nth-child(12) {
  --uib-color: #9933ff;
}

.container-loader-2 .dot:nth-child(13) {
  --uib-color: #a433ff;
}

.container-loader-2 .dot:nth-child(14) {
  --uib-color: #af33ff;
}

.container-loader-2 .dot:nth-child(15) {
  --uib-color: #ba33ff;
}

.container-loader-2 .dot:nth-child(16) {
  --uib-color: #c533ff;
}


/*  Custom Style */

.custom-swal-container {
  z-index: 99999999 !important;
}

.custom-text-align-end {
  text-align: right !important;
}

.custom-text-align-center {
  text-align: center !important;
}

.custom-truncateRight {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-info-icon-css {
  background: #5bc43a;
  color: white;
  padding: 4px 7px;
  margin-right: 25px;
  font-size: 9px;
  border-radius: 10px;
  place-self: anchor-center;

}

.custom-ant-table .ant-table-expanded-row>.ant-table-cell {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #fff !important;
}

.twitter-picker {
  width: 500px !important;
}